*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
        font-family: 'JetBrains Mono', sans-serif;
    font-weight: 400;
}

.bookList{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px){
    .bookList{
        grid-template-columns: repeat(3, 1fr);
    }

}

.book{
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.book h2{
    margin-top: 1rem;
    font-size: 1rem;
}

.book img{
    width: 100%;
    object-fit: cover;
}

.book h4{
    color: '#617d98';
    font-size: '0.75rem';
    margin-top: '0.5rem';
    letter-spacing: 2px;
}
